##################################################################
# The same dependencies as in the environment.yml except those 
# required to work with Neural Networks and GPUs. So this env
# is useful when installing on a local machine and running some
# data preprocessing (except NST).
##################################################################

scikit-learn==0.24.2                                   # DF + Faket
scikit-image==0.19.2                                   # DF + NST
numpy==1.19.5                                          # DF + NST
matplotlib==3.5.1                                      # DF + NST
pillow==9.0.1                                          # NST
tqdm==4.63.0                                           # NST
jupyterlab==3.3.2                                      # Faket
nbclassic==0.3.5                                       # Faket
ipywidgets==7.6.5                                      # Faket
lxml==4.8.0                                            # DF
mrcfile==1.3.0                                         # DF
pyqt5==5.15.6                                          # DF
pyqtgraph==0.12.4                                      # DF
openpyxl==3.0.9                                        # DF
radontea==0.4.9                                        # Faket
seaborn==0.11.2                                        # SHREC eval
scikit-plot==0.3.7                                     # SHREC eval
pycm==3.4                                              # SHREC eval
